.display-container {
  width: 200px;
  margin: 5px auto;
  padding: 15px;
  border: 1px solid #5f93a7;
}

.display-container div {
  background-color: rgba(128, 128, 128, 0.3);
  overflow: scroll;
  color: white;
  height: 18px;
}
